In [3]:
import numpy as np
import pandas as pd
import re
!pip install openpyxl
import xlrd

Requirement already satisfied: openpyxl in c:\users\sergi\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\sergi\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [4]:
sadf = pd.read_excel(r"C:\Users\sergi\OneDrive\Documents\Projeto - Shark Attack\GSAF5.xls")

In [5]:
sadf.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,25-Mar-2023,2023.0,Unprovoked,USA,Florida,"Blue Fish Channel, Key West, Monroe County",Kite-Surfing,Kevin Carlton Scott,M,67,...,NaN,"Yahoo News, 3/28/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22-Mar-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Delta Island,Wading,Adam Norton,M,30s,...,NaN,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19-Mar-2023,2023.0,Unprovoked,USA,Hawaii,Anaehoomalu Bay,Swimming,male,M,60,...,NaN,"Khon2, 3/19/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17-Mar-2023,2023.0,Unprovoked,MEXICO,Quintana Roo,Cancún,Swimming,Dillon Armijo,M,10,...,NaN,"Denver7, 3/29/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16-Mar-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Cheynes Beach,Surf-sking,female,F,NaN,...,5m to 6m shark,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
sadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6865 entries, 0 to 6864
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    6840 non-null   object
 1   Year                    6838 non-null   float64
 2   Type                    6820 non-null   object
 3   Country                 6790 non-null   object
 4   Area                    6362 non-null   object
 5   Location                6279 non-null   object
 6   Activity                6257 non-null   object
 7   Name                    6621 non-null   object
 8   Sex                     6263 non-null   object
 9   Age                     3869 non-null   object
 10  Injury                  6805 non-null   object
 11  Fatal (Y/N)             6282 non-null   object
 12  Time                    3339 non-null   object
 13  Species                 3757 non-null   object
 14  Investigator or Source  6821 non-null   object
 15  pdf                     6799 non-null   object
 16  href formula            6819 non-null   object
 17  href                    6796 non-null   object
 18  Case Number             6798 non-null   object
 19  Case Number.1           6797 non-null   object
 20  original order          6799 non-null   float64
 21  Unnamed: 21             1 non-null      object
 22  Unnamed: 22             2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [8]:
sadf['Fatal (Y/N)'].value_counts()

N          4751
Y          1442
UNKNOWN      71
 N            7
F             3
M             2
n             1
Nq            1
2017          1
Y x 2         1
N             1
y             1
Name: Fatal (Y/N), dtype: int64

In [13]:
sadf.loc['UNKNOWN', 'Fatal (Y/N)']

KeyError: 'UNKNOWN'