In [173]:
# Importar as bibliotecas:
import numpy as np
import pandas as pd
import re
!pip install openpyxl
import xlrd

Requirement already satisfied: openpyxl in c:\users\sergi\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\sergi\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [174]:
# Importar a base de dados:
sadf = pd.read_excel(r"C:\Users\sergi\OneDrive\Documents\Projeto - Shark Attack\GSAF5.xls")

In [175]:
# Ver a cara da base, como foi importada:
sadf.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,25-Mar-2023,2023.0,Unprovoked,USA,Florida,"Blue Fish Channel, Key West, Monroe County",Kite-Surfing,Kevin Carlton Scott,M,67,...,NaN,"Yahoo News, 3/28/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22-Mar-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Delta Island,Wading,Adam Norton,M,30s,...,NaN,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19-Mar-2023,2023.0,Unprovoked,USA,Hawaii,Anaehoomalu Bay,Swimming,male,M,60,...,NaN,"Khon2, 3/19/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17-Mar-2023,2023.0,Unprovoked,MEXICO,Quintana Roo,Cancún,Swimming,Dillon Armijo,M,10,...,NaN,"Denver7, 3/29/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16-Mar-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Cheynes Beach,Surf-sking,female,F,NaN,...,5m to 6m shark,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
# Explorar outros dados como estão:
sadf.tail() #> Linhas nulas que não fazem parte da tabela, mas que por alguma razão foram assim interpretadas.

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
6860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
# Ver como estão as colunas da base:
sadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6865 entries, 0 to 6864
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    6840 non-null   object
 1   Year                    6838 non-null   float64
 2   Type                    6820 non-null   object
 3   Country                 6790 non-null   object
 4   Area                    6362 non-null   object
 5   Location                6279 non-null   object
 6   Activity                6257 non-null   object
 7   Name                    6621 non-null   object
 8   Sex                     6263 non-null   object
 9   Age                     3869 non-null   object
 10  Injury                  6805 non-null   object
 11  Fatal (Y/N)             6282 non-null   object
 12  Time                    3339 non-null   object
 13  Species                 3757 non-null   object
 14  Investigator or Source  6821 non-null   object
 15  pdf                     6799 non-null   object
 16  href formula            6819 non-null   object
 17  href                    6796 non-null   object
 18  Case Number             6798 non-null   object
 19  Case Number.1           6797 non-null   object
 20  original order          6799 non-null   float64
 21  Unnamed: 21             1 non-null      object
 22  Unnamed: 22             2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [178]:
# Checar linhas duplicadas:
sadf.duplicated().sum()

24

In [179]:
# Ver quais são:
sadf.loc[sadf.duplicated(keep = False)] #> Aparentemente, as linhas duplicadas são as nulas do fim do dataframe.

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
6840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
# Primeiro tratamento:

#> Garantir que o nome das colunas está limpo.
sadf.columns = sadf.columns.str.strip()

#> Novo dataframe sem as linhas nulas e com apenas algumas colunas selecionadas para facilitar a visualização.
sadf1 = sadf.loc[:6839, ['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
                         'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species',
                         'Investigator or Source']]

In [181]:
sadf1.duplicated().sum() #> Checar se depois da criação do novo dataframe, há linhas duplicadas.

1

In [182]:
sadf1.loc[sadf1.duplicated(keep = False)] #> Ver qual é essa linha ainda duplicada.

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
5216,Fall 1943,1943.0,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,2 males,M,NaN,Calf nipped in each case,N,NaN,"""small sharks""",W. M. Chapman
5217,Fall 1943,1943.0,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,2 males,M,NaN,Calf nipped in each case,N,NaN,"""small sharks""",W. M. Chapman

In [183]:
# Corrigir duplicação:
sadf1.drop(5217, inplace = True)

#> Ver se ainda resta alguma.
sadf1.duplicated().sum()

0

In [184]:
# Explorar como está a primeira coluna a ser analisada, da fatalidade dos ataques:
#> Ver quantidade de valores nulos.
print(sadf1['Fatal (Y/N)'].isna().sum())

#> Ver quais os preenchimentos diferentes de Y e N.
sadf1['Fatal (Y/N)'].value_counts()

558

N          4750
Y          1442
UNKNOWN      71
 N            7
F             3
M             2
n             1
Nq            1
2017          1
Y x 2         1
N             1
y             1
Name: Fatal (Y/N), dtype: int64

In [185]:
#Tratamento do 'UNKNOWN':

#> Ver dados quais as lesões descritas para as fatalidades desconhecidas.
sadf1.loc[sadf1['Fatal (Y/N)'] == 'UNKNOWN']['Injury'].value_counts()

No details                                                                                                              37
No injury                                                                                                                2
No details, "recovering in Darwin Hospital"                                                                              1
No details, listed as PROVOKED INCIDENT                                                                                  1
Involved a speared shark but no other details PROVOKED INCIDENT                                                          1
Details unknown, possibly a PROVOKED INCIDENT                                                                            1
Man landed at Cape Levêque lighthouse in critical condition after being bitten by a shark. Not known if he survived.     1
Unprovoked, but circumstances unknown                                                                                    1
Shark involvement not confirmed                                                                                          1
Calf removed, not known if he survived                                                                                   1
"Painfully injured" but no details                                                                                       1
Severe bite to thigh. Not known if he survived                                                                           1
No details, it was the year the first settlers came ashore in Holdfast Bay, Port Pirie                                   1
Leg severed mid-thigh, hand severed, arm above elbow and part of buttocks. Not known if he survived                      1
Name: Injury, dtype: int64

In [186]:
#> Preencher a fatalidade das duas linhas que dizem 'No injury' com N.

#> Máscara em que a fatalidade é desconhecida e a lesão é 'No injury'.
mask1 = sadf1[(sadf1['Injury'] == 'No injury') & (sadf1['Fatal (Y/N)'] == 'UNKNOWN')]

#> Lista com os indíces das linhas dessa máscara.
noinjuryrows1 = list(mask1.index)

#> Preenchimento do 'Fatal (Y/N)' dessas linhas com N.
sadf1.loc[noinjuryrows1, 'Fatal (Y/N)'] = 'N'

#> Colocar as demais linhas com fatalidade desconhecida como valores nulos.
sadf1.loc[sadf1['Fatal (Y/N)'] == 'UNKNOWN', 'Fatal (Y/N)'] = np.nan

In [187]:
# Limpando o resto da coluna inferindo a fatalidade:

# F:
sadf1[sadf1['Fatal (Y/N)'] == 'F'] #> Ver dados com 'F' em 'Fatal (Y/N)'
#> Provavelmente o F foi preenchido pensando em 'Fatal'. Os três são casos fatais.

# M:
sadf1[(sadf1['Fatal (Y/N)'] == 'M')] #> Ver dados com 'M' em 'Fatal (Y/N)'
sadf1.loc[92, 'Fatal (Y/N)'] = 'Y' #> Fatal
sadf1.loc[799, 'Fatal (Y/N)'] = 'N' #> Lesão indica que não foi fatal

# Nq:
sadf1[sadf1['Fatal (Y/N)'] == 'Nq'] #> Ver dado com 'Nq' em 'Fatal (Y/N)'
#> Lesão indica que não foi fatal.

# 2017:
sadf1[sadf1['Fatal (Y/N)'] == 2017] #> Ver dado com '2017' em 'Fatal (Y/N)'
sadf1.loc[sadf1['Fatal (Y/N)'] == 2017, 'Fatal (Y/N)'] = 'N' #> Lesão indica que não foi fatal.

# Y x 2:
sadf1[sadf1['Fatal (Y/N)'] == 'Y x 2'] #> Ver dado com 'Y x 2' em 'Fatal (Y/N)'
#> Injury: "Fatal"

# ' N', 'n', 'N ', 'y':
#> Tratamento de string para se juntarem a 'Y' e 'N'.

#Limpeza:
sadf1['Fatal (Y/N)'].replace({'F': 'Y', '.*[Nn].*': 'N', '.*[Yy].*': 'Y'}, regex = True, inplace = True)

In [188]:
#Tratamento dos nulos na coluna:

#> Retirar as linhas em que a fatalidade e a lesão são valores nulos (sem possibilidade de inferência):
mask2 = (sadf1['Fatal (Y/N)'].isna() != 0) & (sadf1['Injury'].isna() != 0)
sadf1.drop(list(sadf1[mask2].index), inplace = True)

#> Checar quantas linhas ainda estão com fatalidade nula:
print(sadf1['Fatal (Y/N)'].isna().sum())

#> Ver quais as lesões para as fatalidades de valor nulo:

sadf1.loc[(sadf1['Fatal (Y/N)'].isna())]['Injury'].value_counts().head(10)

599

No details                                                 42
No injury                                                  23
FATAL                                                      20
Probable drowning & scavenging                              9
Shark involvement prior to death unconfirmed                5
Death may have been due to drowning                         4
Probable drowning with post-mortem bites                    4
Shark involvement not confirmed                             3
FATAL, but shark involvement prior to death unconfirmed     3
Human remains found in shark                                3
Name: Injury, dtype: int64

In [189]:
#Tratamento para não fatais:
sadf1.loc[(sadf1['Fatal (Y/N)'].isna()) & 
          (sadf1['Injury'].str.contains('No injury|Survived|Non-fatal|Minor injuries', flags = re.IGNORECASE)),
          'Fatal (Y/N)'] = 'N'

#Tratamento para fatais:
sadf1.loc[(sadf1['Fatal (Y/N)'].isna()) & 
          (sadf1['Injury'].str.contains('Disappeared|Drowned|drowning|mortem|death|fatal|remains', flags = re.IGNORECASE)),
          'Fatal (Y/N)'] = 'Y'

In [190]:
#Explorar a segunda coluna a ser analisada, do tipo de ataque.
print(sadf1['Type'].isna().sum())
sadf1['Type'].value_counts()

20

Unprovoked             5007
Provoked                626
Invalid                 545
Watercraft              347
Sea Disaster            241
Questionable             14
Boat                      7
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: Type, dtype: int64

In [191]:
# Limpando a coluna com os dados preenchidos.

# Watercraft:
#> Ver dados com 'Watercraft' em 'Type':
sadf1[sadf1['Type'] == 'Watercraft']
#> #> Preenchimento com 'Invalid', já que não foi possível inferir tipo ou se houve ataque de tubarão.
sadf1.loc[sadf1['Type'] == 'Watercraft', 'Type'] = 'Invalid'

# Questionable:
#> Ver dados com 'Questionable' em 'Type'.
sadf1[sadf1['Type'] == 'Questionable']
#> #> Preenchimento com 'Invalid', já que não foi possível inferir tipo ou se houve ataque de tubarão.
sadf1.loc[sadf1['Type'] == 'Questionable', 'Type'] = 'Invalid'

#Boat:
#> Ver dados com 'Boat' em 'Type'.
sadf1[sadf1['Type'] == 'Boat']
#> Preenchimento com 'Invalid', já que não foi possível inferir tipo ou se houve ataque de tubarão.
sadf1.loc[sadf1['Type'] == 'Boat', 'Type'] = 'Invalid'

#?:
#> Ver dado com '?' em 'Type'.
sadf1[sadf1['Type'] == '?']
#> Preenchimento com 'invalid', já que não foi possível inferir tipo.
sadf1.loc[sadf1['Type'] == '?', 'Type'] = 'Invalid'

#Unconfirmed:
#> Ver dado com 'Unconfirmed' em 'Type'.
sadf1[sadf1['Type'] == 'Unconfirmed']
#> Preenchimento da linha que lesão indica ataque provocado:
sadf1.loc[255, 'Type'] = 'Provoked'
#>Preenchimento das demais com 'Invalid', já que não foi possível inferir tipo ou se houve ataque de tubarão.
sadf1.loc[sadf1['Type'] == 'Unconfirmed', 'Type'] = 'Invalid'

#Unverified:
#> Ver dado com 'Unverified' em 'Type'.
sadf1[sadf1['Type'] == 'Unverified']
#> Preenchimento com 'Invalid', já que não foi possível inferir tipo ou se houve ataque de tubarão.
sadf1.loc[sadf1['Type'] == 'Unverified', 'Type'] = 'Invalid'

#Under investigation
#> Ver dado com 'Under investigation' em 'Type'.
sadf1[sadf1['Type'] == 'Under investigation']
#> Preenchimento com 'Invalid', já que não foi possível inferir tipo ou se houve ataque de tubarão.
sadf1.loc[sadf1['Type'] == 'Under investigation', 'Type'] = 'Invalid'

#Sea Disaster
#> Ver dado com 'Sea Disaster' em 'Type'.
sadf1[sadf1['Type'] == 'Sea Disaster']
#> Preenchimento com 'Invalid', já que não foi possível inferir tipo ou se houve ataque de tubarão.
sadf1.loc[sadf1['Type'] == 'Sea Disaster', 'Type'] = 'Invalid'

In [192]:
# Ver dadaos nulos da coluna 'Type':
sadf1[sadf1['Type'].isna()]

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
18,01-Jan-2023,2023.0,NaN,USA,Florida,70 miles off Pensacola,Spearishing,Chad Petti,M,30,Knocked spear out of his hands and fin bitten,N,14h50,Mako shark,"A. Currie, GSAF"
73,24-Jun-2022,2022.0,NaN,JA MAICA,NaN,NaN,Fishing,Michael Simpson,M,NaN,Right arm severed,N,Afternoon,"Tiger shark, 15'","The Gleaner, 6/30/2022"
92,01-Apr-2022,2022.0,NaN,SOUTH AFRICA,KZN,LaLucia,NaN,"Two bodies washed ashore,",M,NaN,Possible drowing and scavenging,Y,NaN,NaN,"Daily Star, 4/4/2022"
108,08-Feb-2022,2022.0,NaN,COSTA RICA,Guanacoste,Playa Del Coco,Diving,female,F,50,Right forearm and left hand injured,NaN,NaN,"Bull shark, 3m",Diario Extra Del Costa Rica 2/9/2022
129,16-Oct-2021,2021.0,NaN,AUSTRALIA,Queensland,Sudbury Island,Spearfishing,Torrance Sambo,M,26,Disappeared,Y,NaN,NaN,"K. McMurray, TrackingSharks.com"
134,10-Sep-2021,2021.0,NaN,EGYPT,NaN,Sidi Abdel Rahmen,Swimming,Mohamed,M,NaN,Laceration to arm caused by metal object,NaN,NaN,No shark invovlement,Dr. M. Fouda & M. Salrm
155,21-Jul-2021,2021.0,NaN,USA,Florida,"Near Patrick AFB, Brevard County",NaN,Katie Wood,F,35,"Small laceration to ankle, shark involvement n...",N,12h23,NaN,"J Marchand, GSAF"
243,21-Oct-2020,2020.0,NaN,USA,North Carolina,"Emerald Isle, Carteret County",Surfing,Erik Martynuik,M,NaN,Laceration to knee and foot,N,Sunset,Shark involvement not confirmed,"C. Creswell, GSAF"
248,21-Sep-2020,2020.0,NaN,USA,Hawaii,"Charley Young Beach, Maui",Swimming,female,F,61,Lacerations and puncture wounds to shoulder,N,11h00,Injuries not caused by a shark,Maui Now. 9/21/2020
252,16-Sep-2020,2020.0,NaN,USA,Florida,"Daytona Beach Shores, Volusia County",Swimming,Eric Bowman,M,48,Minor cuts and punctures to left foot,N,15h20,Shark involvement not confirmed,"K. McMurray, TrackingSharks.com"
265,19-Aug-2020,2020.0,NaN,USA,South Carolina,"Myrtle Beach, Horry County",Wading,Nicole Stowerss,F,NaN,Minor injury to arm by a fish,N,1415,NaN,"C. Creswell, GSF"
294,04-Jun-2020,2020.0,NaN,USA,Delaware,"Herring Point, Sussex County",Skimboarding,Holt Baker,M,12,Puncture wounds to leg,N,13h00,Shark involvement unconfirmed but considered p...,"K. McMurray, TrackingSharks.com"
304,29-Apr-2020,2020.0,NaN,USA,California,"Moonlight Beach, San Diego County",Body Boarding,male,M,16,Minor injury to ankle from stingray,N,17h45,NaN,"K. McMurray, TrackingSharks.com and M. Michael..."
596,15-Sep-2017,2017.0,NaN,SAMOA,Upolu Island,Nofoali’i,Fishing,male,M,NaN,Injuries to hands and legs,N,Night,NaN,"Samoa Observer, 9/16/2017"
896,27-Jul-2015,2015.0,NaN,AUSTRALIA,Victoria,Tyrendarra Beach,Surfing,male,M,40,Injury to hand,NaN,NaN,NaN,NaN
5396,Reported 11-Sep-1936,1936.0,NaN,VIETNAM,NaN,Saigon,Wreck of a sampam,8 crew,M,NaN,FATAL,Y,NaN,NaN,"Lansing State Journal, 9/11/1936"
6236,Reported 03-Mar-1890,1890.0,NaN,CEYLON,NaN,NaN,Diving,a pearl diver,M,NaN,FATAL,Y,NaN,NaN,"The Guardian, 3/3/1890"
6715,Ca. 1010 BC,0.0,NaN,JAPAN,NaN,Archeological site,NaN,male,M,NaN,FATAL,Y,NaN,NaN,J.A. WhiteJ.
6716,Ca 4000 BC,0.0,NaN,PERU,Paloma,Archeological site,NaN,male,M,17,FATAL,Y,NaN,NaN,J. Quilter

In [193]:
#> Tirar linhas em que o ataque por tubarão não aconteceu.
sadf1.drop([134, 248, 265, 304], inplace = True)

#> Preencher linha em que o ataque foi provocado.
sadf1.loc[255, 'Type'] = 'Provoked'

In [196]:
#Explorar a terceira coluna a ser analisada, do sexo.
print(sadf1['Sex'].isna().sum())
sadf1['Sex'].value_counts()

565

M    5495
F     747
Name: Sex, dtype: int64

In [195]:
#N:
sadf1[sadf1['Sex'] == 'N']
sadf1.loc[6663, 'Sex'] = 'M'
sadf1.loc[5467, 'Sex'] = np.nan

#M/./lli:
sadf1['Sex'].replace({'.*M.*': 'M', 'lli': 'M', '\.': np.nan}, regex = True, inplace = True)

In [205]:
pd.pivot_table(sadf1, columns = ['Fatal (Y/N)', 'Sex'], index = 'Type', aggfunc = 'count', values = 'Year').apply(lambda x:100 * x / float(x.sum())).round(2)

Fatal (Y/N)      N             Y
Sex              F      M      F      M
Type
Invalid       4.23   7.15  19.26  22.38
Provoked      4.93  13.20   0.74   1.28
Unprovoked   90.85  79.65  80.00  76.34